header{
    color: white;
    width: 100%;
    background-color: rgb(3, 3, 65);
    height: 200px;
}

section{
    display: inline;
}

h1{
    font-size: 100px;
    text-align: center;
}

nav{
    background-color: tomato;
    float: left;
}

nav ul{
    padding: 15px;
}

nav li{
    margin: 20px;
}

nav li:hover{
    background-color: yellow;
    padding: 5px;
    border-radius: 20px;
}

nav li a {
    text-decoration: none;
    color: white;
}

article{
    background-color: wheat;
    width: 100%;
}

iframe{
    width: 50%;
    height: 400px;
    margin-left: 30px;
}

.coluna{
    margin-left: 10px;
    width: 80%;
}

.coluna-1{
    width: 30%;
    display: block;
    height: 50%;
    float: left;
}

.img{
    width: 500px;
    height: 400px;
}

.coluna-1 img{
    width: 50%;
    overflow: hidden;
    height: 100%;
}

/*Mobile First*/
@media(max-width:425px){
    nav{
        width: 100%;
        text-align: center;
    }

    .coluna{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    iframe{
        width: 100%;
        margin: 0;
    }
    
    nav li{
        display: inline;
    }

    .coluna-1{
        display: inline;
        width: 100%;
    }
    .coluna img{
        width: 100%;
    }
    .img{
        width: 100%;
    }

    
}