$bg-color:rgb(53, 0, 151);
$bg-color-1:black;
$bg-color-2:rgb(156, 9, 241);
$bg-color-3:white;
$bg-color-4:rgb(92, 92, 92);
$bg-color-5:rgb(214, 233, 45);
$color:white;
$color-1:red;
$color-2:rgb(61, 61, 61)