html {
    font-size: 80.5%;
}

body {
    background-color: #d2e1ee;
}

.main-container{
    display: block;
    width: 100vw;
    max-width: 1198px;
    margin: 0 auto;
}

.container{
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

header {
    background: #fff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(96, 111, 245);
}

img {
    max-width: 100%;
    height: auto;
}

section {
    display: block;
    float: left;
    font-size: 1.5rem;
    width: 100%;
    padding: 20px;
    background-color: white;
}

section nav {
    display: block;
    float: left;
    width: 25%;
}

nav li{
    background-color: #daecff;
    margin: 5px 0;
    padding: 10px;
}

nav li:hover{
    background-color: #8ec0ec;
}

nav a {
    text-decoration: none;
}

section article {
    display: block;
    float: left;
    margin-left: 25px;
    width: 70%;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

ol {
    margin-left: 35px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

#tenho-interesse{
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    border-top: 5px solid rgb(68, 109, 241);
}

.formulario-area{
    margin-top: 50px;
    
}

footer {
    background-color: #254159;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
}

