nav {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
    margin-top: 10px;

    .item{
        text-decoration: none;
        position: relative;
        background-color: white;
        padding: 9px;
        border-radius: 12px;
        &:hover{
            background-color: rgb(226, 95, 19);
            color: white;
        }
    }

}