header{
    .container{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        .hero{
            align-items: flex-end;
            background-image: url('../img/banner-lance-me.png');
            background-repeat: no-repeat;
            background-position: top center;
            height: 27.5rem;
            display: flex;
            padding-bottom:2rem ;
            width: 100%;

            h1 {
                padding: 1rem 0 0;
                text-align: center;
                width: 100%;
            }
        }
    }
}