.vitrine{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;

    &__item{
        background-color: $bg-color-2;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 20rem;
        padding: 1rem;
        position: relative;
        margin-top: 20px;
        &:hover{
            -webkit-box-shadow: 2px 3px 2px 1px rgba(0,0,0,0.4);
            box-shadow: 2px 3px 2px 1px rgba(0,0,0,0.4);
            animation: toTop;
            animation-duration: 1s;
        }
    }

    &__image{
        justify-content: center;
        display: flex;
        width: 100%;
    }

    &__title{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        color: rgb(226, 95, 19);
    }

    &__desc{
        font-size: 1rem;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 2rem;        
    }

    &__button{
        background-color: rgb(226, 95, 19);
        border-radius:1rem;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        padding: 1rem 2rem;
        text-decoration: none;
        align-self: center;
        margin-bottom: 2rem;
    }
}