.steps{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    margin-top: 4rem;
    text-align: center;
    &__item{
        padding: 10px;
        border-radius: 12px;
        background-color: white;
        position: relative;
        &:nth-last-child(1){
            animation: firstItem;
            animation-duration: 1s;
        }
        &:nth-last-child(2){
            animation: firstItem;
            animation-duration: 2s;
        }
        &:nth-last-child(3){
            animation: firstItem;
            animation-duration: 3s;
        }
        &:nth-last-child(4){
            animation: firstItem;
            animation-duration: 4s;
        }
        &:nth-last-child(5){
            animation: firstItem;
            animation-duration: 5s;
        }
        &:hover{
            top: -1rem;
        }
    }
}