@import './vars';
@import './reset';
@import './fonts';

//@import url('https://fonts.googleapis.com/css2? família=Fasthand&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: kg_happyregular;
    text-shadow: 1px 1px 4px #000000;
    background-color: $bg-color;
}


h1{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6px;
    color: $color;
}

h2{
    margin-top: 4rem;
}

@import './header';

header,
section,
footer{
    display: block;
    float: left;
    width: 100%;
}

.container{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}

.sobre{
    width: 100%;
    display: flex;
    justify-content: center;
    &__container{
        background-color: $bg-color-2;
        border-radius: 12px;
        width: 89%;
        padding: 10px;
    }
}

@import './vitrine';
