* {
    margin: 0;
    padding: 0;
}

html{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:rgb(29, 29, 29);
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;/*tira barras de rolagem*/
    overflow: overlay;
}

h1,h2,p {
    margin-bottom: 20px;
    text-align: center;
}

/*circulo */
.grafico-1{
    background-color:rgb(139, 91, 0);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
}

.grafico-1 img{
    width: 100%;
}

/*triangulo*/
.grafico-2{
    background-color: transparent;
    margin: 40px auto;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60%
}

.vetor{
    width: 500px;
    height: 500px;
}

.vetor img{
    width: 100%;
}
/*FILTROS*/

.filtro{
    filter: grayscale(100%);
}

.filtro:hover{
    filter: grayscale(0%);/*escala de cinza*/
}

.grafico-1{
    filter: drop-shadow(8px 8px 10px white); /*1 Vertical 2 Horizontal 3 expanção sombra*/
}                       

.filtro-2{
    filter: blur(5px);/*desfoque*/
    filter: brightness(200%);/*brilho*/
    filter: invert(100%);/*inverte cores*/
    filter: opacity(50%);
    filter: saturate(105%) sepia(80%); 
}

.coluna{
    display: block;
    float: left;
    padding: 5px;
    width: 33.3%;
    border: 1px solid white;
    height: auto;
}

.vetor-2{
    background-color: red;
}

iframe{
    width: 100%;
    height: 400px;
}