header{
    
}

header .container{
    
}

header .navbar-brand{
    display: flex;
    justify-content: center;
}

header .collapse{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    border-bottom: 1px solid rgb(185, 185, 185);
    border-top: 1px solid rgb(185, 185, 185);
}

header .navbar-nav{
    
}

header .nav-link{
    margin-left: 10px;
}

header .nav-link:hover{
    color: rgb(136, 136, 238);
}

#banner .container-fluid{
    margin-top: 25px;
    display: flex;
    align-items: center;
    background-image: url('../img/pexels-jaime-reimer-2662116.jpg');
    width: 90%;
    height: 650px;
    border-radius: 10px;
}

#banner .banner-text{
    background-color:rgb(255, 255, 255,0.4) ;
    width: 340px;
    height: 150px;
    padding: 5px;
    border-radius: 14px;
    overflow: hidden;
}

#produtos{
    margin-top: 50px;
}

#produtos .container-fluid{
   width: 90%;
}

#produtos .featured-item{
    padding: 5px;
    width: 95%;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

#produtos img{
    width: 100%;
    border-radius: 5px;
}

#duvida{
    background-color: rgb(0, 108, 180);
    padding: 5px;
    margin-top: 35px;
}

#duvida .col{
    display: flex;
    align-items: center;
    justify-content: center;
}

#duvida p{
    margin-top: 20px;
    color: white;
}

#duvida input{
    width: 100%;
    margin-top: 20px;
}

#duvida button{
    margin-top: 20px;
}

.text-muted{
    display: none;
}

.invalid{
    border: 1px solid red;
}