html {
    font-size: 50%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:aliceblue;
}

.main-container {
    margin: 0 auto;
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
}

header {

}

h1 {
    font-size: 2.4rem;
    color: rgb(31, 53, 100);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

section {
    font-size: 1.5rem;
}
