$bkg:#7d0096;
$bkg-2:#ececec;
$bkg-3:#3a8bcd;
$bkg-4:#aaa;
$bkg-5:#d7edff;
$color:white;
$color-2:#7a7a7a;
$color-3:#3a8bcd;
$img:url('../img/pexels-david-iglesias-13407327.jpg');


header {
    h1{
        font-size: 30px;
        color: white;
    }

    .navbar{
        box-shadow:  4px 5px 20px black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $bkg;
        padding: 10px;
    }

    .navbar-collapse{
        padding: 5px;
        flex-grow: 0;
    }

    .nav-link{
        color: $color;
    }
}

#sobre-nos{
    width: 100%;
    height: 650px;

    .message-area{
        width:35%;
        margin-top: 70px;
        background-color: $bkg-2;
        padding: 5px;
        border-radius: 20px;
    }

    .accordion{
        align-items: center;
        width: 100%;
        height: 650px;
        margin-top: 100px;
        width: 250px;
    }
    
    .container-fluid{
        width: 98%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-image:$img;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        background-size: 100%;
    }
}

#produto{
    margin-top: 50px;

    .owl-carousel{
        margin-top: 10px;
     }

     .featured-item{
        padding: 10px;
        border: 1px solid rgb(139, 139, 139);
        width: 95%;
        border-radius: 5px;
        text-align: center;
    }

    .owl-theme {
        .owl-dots {
            text-align: center;
            margin-top: 30px;

            .active span {
                background-color: $bkg-3 !important;
            }

            .owl-dot span {
                background-color: $bkg-4;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin: 0px 5px;
                outline: none;
            }

        }
    }
}

#produto {
    img{
        width: 100%;
        height: 40%;
        border-radius: 5px;
    }

    a{
        text-decoration: none;
    }
}

#contato{
    margin-top: 45px;
    width: 100%;
    background-color: $bkg;
    padding: 40px;

    .container{
        padding: 10px;
    }

    .line-area{
        border-top: 3px solid rgb(255, 255, 255);
        margin-bottom: 25px;
    }

    .text-contato-area{
        color:$color;
        text-align: center;
    }

    .input-area{
        margin-left: 10%;
    }
}


.footer {
	text-align: center;
	margin-top: 50px;
    background-color: $bkg-5;

    ul {
        padding: 0px;
        margin: 0px;

        li {
            list-style: none;
            display: inline-block;
        }
    }

    .logo{
        img {
            max-width: 100%;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .footer-menu {
        margin-bottom: 40px;

        ul{
            li {
                margin: 0px 15px;
            }
        }

        a {
            font-size: 13px;
            color:$color-2;
            text-transform: uppercase;
            transition: all 0.5s;

            &:hover {
                color: $color-3;
                text-decoration: none;
            }
        }
    }

    .social-icons {
        margin-bottom: 60px;
    
        ul{
            li{
                margin: 0px 10px;
            }
        }

        a {
            width: 32px;
            height: 32px;
            color: $color;
            background-color:$bkg-2;
            text-align: center;
            display: inline-block;
            line-height: 33px;
            border-radius: 50%;
            font-size: 13px;
            transition: all 0.5s;

            &:hover {
                background-color: $bkg-3;
            }
        }

    }

}
