@use "sass:math";

.container{
    width: 100%;
    height: 500px;
    width: calc(50%/3);
}

.container img{
    width: 100%;
    height: 100%;
}

@media(max-width:720px){
    .container{
        max-width: math.div(300,100) * 100%;
    }
}